
.video{
    display: flex;
    flex-direction: column;
   
 }.watch-video{
    background-color:var(--link-color);

    
    min-height: 200px;
    
    
}

.watch-video__text{
  text-align: center;
  width: 200px;
  color: var(--text-bg-color);
}
@media(min-width:950px) {
    .video>.container{
        display: flex;
      
        justify-content: space-between;
    }
    .watch-video{
        background-color: var(--text-bg-color);
        background-size: cover;
       
        background-position: 50% 50%;
        height: 500px;
        width: 450px;
    }
    .watch-video__bg-circle{
        background-color: var(--link-color);
        border-radius: 50%;
        z-index: 10;
        height: 70px;
        width: 70px;
        position: absolute;
        top: 200px;
        left: 300px;
    }
}